@media (max-width: 1024px) {
    .popup__catalog {
        padding: 28px;
        &-inner {
            gap: 0px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .popup__catalog {
        display: none;
    }
}
